<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Cache Money - ALU</title>
<link rel="stylesheet" type="text/css" href="css/cache_money.css">
</head>

<body>

<div id="description">
	<h2>Arithmetic Logic Unit</h2>
	The arithmetic logic unit has two operations.  The first operation is to perform 32 bit signed addition, by passing a value of '0' to the 'op' input.<br />
	The second operation is to perform signed multiplication of two 16 bit numbers, by passing a value of '1' to the 'op' input.
</div>

<div id="verfication">
	<h4>Verification</h4>
	<img alt="ALU Verification" src="images/alu_waveform.png">
</div>
</body>

</html>
