<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Cache Money - ALU</title>
<link rel="stylesheet" type="text/css" href="css/cache_money.css">
</head>

<body>

<div id="description">
	<h2>Arithmetic Logic Unit</h2>
	The arithmetic logic unit has two operations.  The first operation is to perform 32 bit signed addition, by passing a value of '0' to the 'op' input.<br />
	The second operation is to perform signed multiplication of two 16 bit numbers, by passing a value of '1' to the 'op' input.
</div>
<br />
<div id="code">
	<h4>VHDL Code</h4>
	<pre>
library ieee,work;
use ieee.std_logic_1164.all;
use work.all;

entity ALU32bit is
	port
	(
		a	:	in	std_logic_vector(31 downto 0);
		b	:	in 	std_logic_vector(31 downto 0);
		op	:	in	std_logic;
		result:	out	std_logic_vector(31 downto 0);
		overflow:out std_logic
	);
end ALU32bit;

architecture STRUCTURE of ALU32bit is
	--signed adder in work library
	component signed_adder
		port(a,b: in std_logic_vector(31 downto 0);
			 result: out std_logic_vector(31 downto 0);
			 overflow: out std_logic);
	end component;
	--signed_multiply in work library
	component signed_multiply
		port(a,b: in std_logic_vector(15 downto 0);
			 result: out std_logic_vector(31 downto 0));
	end component;
	signal add_overflow : std_logic;
	signal add_result, mult_result : std_logic_vector(31 downto 0);
begin
	--instantiate a signed_adder
	adder1: signed_adder
		port map (a, b, add_result, add_overflow);
	--instantiate a signed_multiply
	mult1: signed_multiply
		port map (a(15 downto 0), b(15 downto 0), mult_result);

	--process fires on both operands, as well as the operation type
	process(a,b,op)
	begin
		if op = '0' then --op 0 is an add operation
			result <= add_result;
			overflow <= add_overflow;
		elsif op = '1' then	-- op 1 is a multiply operation
			result <= mult_result;
			overflow <= '0'; -- overflow isn't possible in the multipler
		end if;
	end process;
end STRUCTURE;
	</pre>
</div>
<br />
<div id="verfication">
	<h4>Verification</h4>
	<img alt="ALU Verification" src="images/alu_waveform.png">
</div>
</body>

</html>
