<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Cache Money - Component</title>
<link rel="stylesheet" type="text/css" href="css/cache_money.css">
</head>

<body>

<div id="description">
	<h2>Component Name</h2>
	<!-- Describe unit here -->
</div>

<div id="code">
	<h4>VHDL Code</h4>
	<pre>
PLACE CODE HERE!!!!!!!!!!!!
	</pre>
</div>

<div id="verfication">
	<h4>Verification</h4>
	<!-- Verification image here -->
	<!--<img alt="ALU Verification" src="images/alu_waveform.png">-->
</div>

</body>

</html>
