<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Cache Money - Memory</title>
<link rel="stylesheet" type="text/css" href="css/cache_money.css">
</head>

<body>

<div id="description">
	<h2>Memory</h2>
	<!-- Describe unit here -->
	The memory of our system is made up of the SDRAM, and the flash memory.
	As indicated by the TA, the SRAM is no longer a part of our system.
	Instead of using the SRAM for our cache, we will just be implementing
	the cache on the FPGA.  As far as the SRAM and flash memory goes, we are
	unsure as to how these components are to be interfaced with.  It has been
	decided that the SDRAM will be used for the main memory, and the flash
	memory will be used to store the program instructions.  We discussed the
	issue of interfacing with the SDRAM and the flash memory, but were told
	that we would get an email explaining this further.  Since we have not
	received this email yet, we are still unsure about a few things.  We
	are unsure as to how to initialize the flash memory with our program
	(before the instructions are executed on the processor).  We are also
	unsure as to exactly how to interface with the SDRAM (main memory).
	Upon further discussion with the TA, and after we receive further
	information from the TA via an email, we will finalize our implementation
	of interfacing with the memory units of the DE2.
</div>

</body>

</html>
