<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Cache Money - Program Counter</title>
<link rel="stylesheet" type="text/css" href="css/cache_money.css">
</head>

<body>

<div id="description">
	<h2>Program Counter</h2>
	The program counter is merely a single register which is incremented to point to the next instruction or address.
</div>
<br />
<div id="code">
	<h4>VHDL Code</h4>
	<pre>
--------------------------------------------------------------------------------------------
--	Authors: Cache Money	
--
-- 	This component describes the behavior of a 32 bit register.
--  The register's value can be changed to the value on the 'D' port
--  on the rising edge of the clock if the write enable is set to high.
--	
--	Reset is asynchronous on high.
--------------------------------------------------------------------------------------------

LIBRARY ieee;
USE ieee.std_logic_1164.all;

ENTITY Register32bit IS
	PORT (
			D		:		IN	STD_LOGIC_VECTOR(31 DOWNTO 0);
			Clock	:		IN	STD_LOGIC;
			Enable	:		IN	STD_LOGIC;
			Reset	:		IN	STD_LOGIC;
			Q		:		OUT	STD_LOGIC_VECTOR(31 DOWNTO 0));
END Register32bit;		

ARCHITECTURE Behavior OF Register32bit IS
BEGIN
	PROCESS (Reset, Clock)
	BEGIN	
		IF Reset = '1' THEN
			Q <= (OTHERS => '0');
		ELSIF Clock'EVENT and Clock = '1' and Enable= '1' THEN
			Q <= D;
		END IF;
	END PROCESS;
END Behavior;
	</pre>
</div>
<br />
<div id="verfication">
	<h4>Verification</h4>
	<!-- Verification image here -->
	<img alt="Program Counter Verification" src="images/register32bit_waveform.png">
</div>
<br />
</body>

</html>
