<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Cache Money - Register File</title>
<link rel="stylesheet" type="text/css" href="css/cache_money.css">
</head>

<body>

<div id="description">
	<h2>Register File</h2>
	The register file contains 32 32 bit registers. Register 0 is
	always grounded (set to 0).
</div>
<br />
<div id="code">
	<h4>High Level Block Diagram</h4>
	<img alt="Register File" src="images/registerfile_block.png">
</div>
<br />
<div id="verfication">
	<h4>Verification</h4>
	<!-- Verification image here -->
	<img alt="Register File Verification" src="images/registerfile_waveform.png">
</div>

</body>

</html>
