<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Cache Money - Assembler</title>
<link rel="stylesheet" type="text/css" href="css/cache_money.css">
</head>

<body>

<div id="description">
	<table width="500">
	<tr>
		<td>
		<h2>Assembler</h2>
		<br>
		Our assembler was written in Java. From the beginning, the assembler was broken
		up into two parts, the GUI, and the actual instruction parsing. 
		<br>
		<br>
		1. The GUI
		Our GUI contains two panels: One to display the contents of the .asm input file,
		and one to display the contents of our output which is the generated mif file. 
		When the user enters the .asm file, it is displayed on the .asm panel. When the user
		chooses to generate the .mif file, the user is prompted for a location to save.
		</td>
	</tr>
	</table>
	<img alt="GUI Screenshot" src="images/gui.png">
</div>


</div>

<div id="verfication">
	<h4>Verification</h4>
	<!-- Verification image here -->
	<!--<img alt="ALU Verification" src="images/alu_waveform.png">-->
</div>

</body>

</html>
